




.headingfpg{
    margin-top: 7vh;
    height: 10vh;
    align-items: center;
    display: flex;
    color: black;
    justify-content: center;
      
}

.fphr{
    width: 100%;
    justify-content: center ;
    display: flex;

}

.bapuo{
    display:flex;
    justify-content: center;
    gap: 6em;
    margin-top: 50px;
}

.scrolll {
    max-height: 600px; /* Adjust height as needed */
    overflow-y: hidden; /* Initially hide the scrollbar */
    padding-right: 8px;
    margin-bottom: 20px; /* Add gap between scrollbar and div content */
  }
  
  .scrolll:hover {
    overflow-y: auto; /* Show scrollbar on hover */
  }
  
  .scrolll::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .scrolll::-webkit-scrollbar-track {
    background: transparent; /* Transparent background for the scrollbar track */
  }
  
  .scrolll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Slightly visible scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  }
  
  .scrolll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); /* Slightly darker thumb when hovered */
  }
  
.Loading {
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
display: flex;
margin-top: 40vh;
font-size: x-large;
color: brown;

}

@media only screen and (max-width: 1100px) {
    
    
    
    
    .bapuo{
        display:block;
        justify-content: center;
        margin-top: 50px;
    }
    
    }